@font-face {
  font-family: "Hack";
  src: local('sans-serif'), url("../src/fonts/hack.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Bakbakone";
  src: local('sans-serif'), url("../src/fonts/bakbakone.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Solitreo";
  src: local('sans-serif'), url("../src/fonts/solitreo.ttf") format("truetype");
  font-display: swap;
}

* {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

html {
  font-family: Hack;
}

.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
  margin-left: 20px;
}

.Title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.Title p {
  color: #ccc;
  font-size: 16pt;
  font-family: Bakbakone;
  margin: 5px;
}

.sessionInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.userName {
  color: #eee;
}

.navbar {
  background-color: #02518c;
}

.titlebar {
  display: flex;
  gap: 20px;
  top: 0;
  position: sticky;
  height: 8px;
  min-height: 5vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #555;
}

.App-link {
  color: #61dafb;
}

.new-record {
  margin-bottom: 20px;
  transition: .3s;
}

.new-record i {
  font-size: 28pt;

}

th {
  font-size: 12pt;
  margin: 15px;
}

td {
  align-items: center;
  font-size: 11pt;
}

td p {
  height: 100%;
}

.sessionTitle {
  font-size: calc(10px + 2vmin);
  color: #222;
}

.actions {
  gap: 5px;
  height: auto;
}

.formButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.usersTable,
.editUser,
.createUser {
  overflow-x: auto;
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 3px;
}

.editBox,
.createBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.editUser,
.createUser {
  padding: 20px;
  margin: auto;
}

.table {
  min-width: 900px;
}

.editUser,
.createUser {
  max-width: 800px;
}

.form-switch {
  display: flex;
  justify-content: left;
  padding-left: 45px;
}

.form-check-input:hover {
  cursor: pointer;
}

.actionIcon {
  transition: .2s;
}

.actionIcon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.actionIcon:active {
  transform: scale(1);
}

/* Login form */
.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBox {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
}

.loginTitle {
  padding: 15px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  max-height: 320px;
  background-color: #02518c;
  margin-top: -100px;
  box-shadow: 0 0.5rem 2rem #555;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  padding: 20px;
}

#showPwd:hover {
  cursor: pointer;
}

.btnLogin {
  margin: 10px;
}

.formIcons {
  color: #333;
}

.eye {
  color: #333;
  transition: .2s;
}

.eye:hover {
  color: #000;
  transform: scale(1.5);
}

.eye:active {
  color: #333;
  transform: scale(1);
}

#deleteIcon:disabled {
  opacity: 0.3;
  border: none;
}

.unauthCont {
  display: flex;
  width: 100%;
  height: 68vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.unauthImage {
  width: 98%;
  max-width: 800px;
  object-fit: contain;
}

.form-check-input:disabled {
  display: none;
}

.footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  gap: 30px;
  align-items: center;
  background-color: #333;
  width: 100%;
  padding: 10px;
}

.footer p {
  height: 100%;
  margin: 0;
  color: #eee
}

@media screen and (max-width: 460px) {
  .logOut {
    position: fixed;
    right: 12px;
    top: 16px;
  }

  .userName {
    display: none;
  }
}