@font-face {
  font-family: "Hack";
  src: local('sans-serif'), url("../src/fonts/hack.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Bakbakone";
  src: local('sans-serif'), url("../src/fonts/bakbakone.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Solitreo";
  src: local('sans-serif'), url("../src/fonts/solitreo.ttf") format("ttf");
  font-display: swap;
}

* {
  font-family: Hack;
  overflow: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin-left: 20px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.titlebar {
  display: flex;
  gap: 20px;
  top: 0;
  position: sticky;
  min-height: 8vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #555;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.new-record {
  margin-bottom: 20px;
  transition: .3s;
}

.new-record i {
  font-size: 28pt;

}

th {
  font-size: 12pt;
  margin: 15px;
}

td {
  align-items: center;
  font-size: 11pt;
}

td p {
  height: 100%;
}

.appTitle {
  font-size: 32px;
  color: #222;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.formButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.show {
  display: flex;
  justify-content: center;
  align-items: center;
  /* opacity: 1; */
}

.usersTable {
  overflow-x: auto;
}

.table {
  min-width: 900px;
}

.editUser, .createUser {
  max-width: 800px;
}